body {
  /* background-color:pink; */
  background-color: pink;
  background-image: linear-gradient;
}

h1 {
  color: pink);
  text-align: center;
}

p {
  font-family:Arial ;
  font-size: 20px;
  color: pink;
  text-align: center;
}

ul {
  margin-left: 23rem;
  color:purple;
}

li {
  margin-top: 2rem;
}

.custom-h1 {
  font-size: 70px;
}

.center {
  text-align: center;
}

.header {
  margin-top: 6%;
}

/* Contact form*/
.cform-alert-success {
  display: success;
  text-align: center;
}
